<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EMS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/css/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/js/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountServ</display-name>
    <servlet-name>AccountServ</servlet-name>
    <servlet-class>com.servlets.AccountServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServ</servlet-name>
    <url-pattern>/AccountServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCtrl</display-name>
    <servlet-name>AdminCtrl</servlet-name>
    <servlet-class>com.servlets.AdminCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCtrl</servlet-name>
    <url-pattern>/AdminCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCtrl</display-name>
    <servlet-name>UserCtrl</servlet-name>
    <servlet-class>com.servlets.UserCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCtrl</servlet-name>
    <url-pattern>/UserCtrl</url-pattern>
  </servlet-mapping>
  <error-page>
  	<exception-type>java.net.SocketException</exception-type>
  	<location>/error.jsp</location>
  </error-page>
</web-app>